.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  position: relative;
}



.movie h2 {
  font-size: 2rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.cancelBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  padding: 2px 8px;
  font-weight: 700;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: maroon;
}

.cancelBtn:active {
  background-color: rgb(108, 75, 75);
}